doctype html
html
  head
    title= title
    link(rel = 'stylesheet', href = '/stylesheets/bootstrap.css')
    link(rel = 'stylesheet', href = '/stylesheets/style.css')
    block scripts
  body
    block navbar
      .navbar.navbar-expand-sm.navbar-light.bg-light.justify-content-between
        .navbar-brand Scheme, a Small Query Engine
          img#brandlogo.ml-2.logoimg(src = '/images/lightbulblogo.svg') 
        nav.navbar-nav.justify-content-between
            a.nav-item.nav-link.mr-sm-3(href='/') Query
              img#schemalogo.ml-2.logoimg(src = '/images/magnifylogo.svg')
            a.nav-item.nav-link(href='/connect') Connect
              img#createlogo.ml-2.logoimg(src = '/images/databaselogo.svg')
    block content