extends layout

block scripts
    script(src='/javascripts/jquery/jquery-3.4.1.js')
    script(src='/javascripts/ui/query.js')
block content

    br
    br

    #projsearch.container.visible
        h3= 'Build a Query'
        h6= 'Query on Your Mapped Data'
        form.form-group(action = '/query', method = 'post')
            .input-group.mb3
                input#query.form-control(type = 'text' placeholder = 'select')
                .input-group-append   
                    input#searchproj.btn.btn-outline-success(type = 'submit' value = 'Search')
    
    br

    #projresults.container.jumbotron.invisible
        h3= 'Query Results'
        #results
        br
        .form-inline.my-2.mylg-0
            button#closeres.btn.btn-outline-info Close
